[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
watchdog = "*"

[packages]
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
sendgrid = "*"
flask-migrate = "*"
flask-caching = "*"
flask-assets = "*"
flask = "*"
flask-debugtoolbar = "*"
cssmin = "*"
jsmin = "*"
redis = "*"
flask-dropzone = "*"
flask-wtf = "*"
flask-ckeditor = "*"
