alembic==1.0.0
blinker==1.4
click==6.7
cssmin==0.2.0
flask-assets==0.12
flask-caching==1.4.0
flask-ckeditor==0.4.3
flask-debugtoolbar==0.10.1
flask-dropzone==1.4.6
flask-mail==0.9.1
flask-migrate==2.2.1
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
flask==1.0.2
itsdangerous==0.24
jinja2==2.10
jsmin==2.2.2
mako==1.0.7
markupsafe==1.0
python-dateutil==2.7.3
python-dotenv==0.10.0
python-editor==1.0.3
python-http-client==3.1.0
redis==2.10.6
sendgrid==5.3.0
six==1.11.0
sqlalchemy==1.2.10
webassets==0.12.1
werkzeug==0.14.1
wtforms==2.2.1
# dev
argh==0.26.2
pathtools==0.1.2
pyyaml==3.13
watchdog==0.8.3
