{% extends 'base.html' %}

{% block title %}Broadcast{% endblock %}

{% block content %}
<h1>Broadcast</h1>
{% endblock %}

{% block scripts %}
<script>
    var source = new EventSource("{{ url_for('sse.stream') }}");
    source.addEventListener('greeting', function (event) {
        var data = JSON.parse(event.data);
        alert("The server says " + data.message);
    }, false);
    source.addEventListener('error', function (event) {
        alert("Failed to connect to event stream. Is Redis running?");
    }, false);
</script>
{% endblock %}
